body {
    background-color: #ec7b1e
}

.emoTrack {
    width: 600px;
    height: 450px;
    display: block;
    margin: auto;

}

.question {
    text-align: center;
}

buttons {
    
    text-align: center;
}


